.wrapper {  
    width: 120%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.wrapper:hover > .actions {
    display: flex;
}

.content {
    border-radius: 6px;
    font-weight: 500;
    padding: 10px;
    flex-basis: 80.5%;
    color: #000;
    background-color: #7e94ff;
}

.actions {
    justify-content: flex-end;
    align-items: center;
    display: none;
    margin-left: 1rem;
    flex: 1;
}


.edit {
    color: #c8d0c8;
    padding: 8px 11px;
    margin-right: 5px;
}

.delete {
    margin-left: 5px;
    padding: 8px 11px;
    color: #ff9889;
}